#physicalIdentification {
  position: relative;
  width: 100%;
  display: table;
  min-height: 28.45866667rem;
  background-color: #e6ecde;
}
#physicalIdentification .progress-wrapper {
  margin: 1.536rem 0.59733333rem 0;
  text-align: center;
}
#physicalIdentification .progress-wrapper .progress {
  height: 0.68266667rem;
  width: 100%;
  background-color: #b3d465;
  border-radius: 0.34133333rem;
}
#physicalIdentification .progress-wrapper .progress .schedule {
  height: 0.68266667rem;
  width: 1.024rem;
  background-color: #fff;
  border-radius: 0.34133333rem;
}
#physicalIdentification .progress-wrapper .text {
  margin-top: 0.64rem;
  font-size: 0.85333333rem;
  color: #666666;
}
#physicalIdentification .container {
  margin: 1.536rem 1.23733333rem 0;
}
#physicalIdentification .container .question {
  height: 1.70666667rem;
  line-height: 1.70666667rem;
}
#physicalIdentification .container .question span {
  display: inline-block;
  vertical-align: top;
  color: #666666;
}
#physicalIdentification .container .question img {
  width: 1.70666667rem;
  height: 1.70666667rem;
  margin-right: 0.768rem;
}
#physicalIdentification .container .title {
  font-size: 0.68266667rem;
  line-height: 1.024rem;
  margin: 0.85333333rem 0 1.49333333rem;
  color: #666666;
}
#physicalIdentification .container .answerList .item {
  height: 1.87733333rem;
  line-height: 1.87733333rem;
  background-color: #fff;
  margin-bottom: 0.68266667rem;
  padding-left: 0.85333333rem;
  box-sizing: border-box;
  font-size: 0.68266667rem;
  color: #666666;
}
#physicalIdentification .result-wrapper {
  display: none;
  vertical-align: middle;
}
#physicalIdentification .result-wrapper .border-wrapper {
  margin: 0 0.66133333rem;
  padding: 0.512rem 0.59733333rem 0.512rem 0.448rem;
  background: #f0f4eb;
  position: relative;
}
#physicalIdentification .result-wrapper .border-wrapper .result {
  background-color: #fff;
  padding: 0 0.896rem;
  box-sizing: border-box;
}
#physicalIdentification .result-wrapper .border-wrapper .result h4 {
  padding-top: 0.72533333rem;
  font-size: 0.768rem;
  color: #53ac33;
}
#physicalIdentification .result-wrapper .border-wrapper .result .text {
  line-height: 1.024rem;
  font-size: 0.64rem;
  color: #666666;
  text-align: left;
  padding: 0.6rem 0;
}
#physicalIdentification .result-wrapper .border-wrapper .result .text:last-child {
  padding-top: 0rem;
}
#physicalIdentification .result-wrapper .border-wrapper .img-wrapper {
  position: absolute;
  right: 0.384rem;
  top: 0;
}
#physicalIdentification .result-wrapper .border-wrapper .img-wrapper img {
  width: 2.73066667rem;
  height: 2.73066667rem;
}
