#department .list {
  margin-top: 0.21333333rem;
}
#department .list .department {
  height: 1.87733333rem;
  line-height: 1.87733333rem;
  background-color: #fff;
  border-bottom: 1px solid #f0f1f1;
  font-size: 0.72533333rem;
  padding-left: 0.85333333rem;
  box-sizing: border-box;
}
#department .list .department a {
  display: block;
  width: 100%;
  height: 100%;
  color: #333333;
}
#department .list .department .arrow {
  float: right;
  width: 0.81066667rem;
  height: 0.81066667rem;
  margin-top: 0.59733333rem;
  margin-right: 1.024rem;
}
