#login {
  min-height: 28.45866667rem;
  background-color: #fff;
  padding: 0.34133333rem;
  box-sizing: border-box;
  overflow: hidden;
}
#login .header .left-wrapper {
  float: left;
}
#login .header .left-wrapper img {
  width: 0.72533333rem;
  height: 0.72533333rem;
}
#login .header .rigth-wrapper {
  float: right;
  height: 0.72533333rem;
  line-height: 0.72533333rem;
  font-size: 0.72533333rem;
  font-weight: 700;
  cursor: pointer;
}
#login .header .rigth-wrapper a {
  color: #53ac33;
}
#login .title-wrapper {
  margin-top: 2.816rem;
  margin-bottom: 5.33333333rem;
}
#login .title-wrapper .title {
  font-size: 0.98133333rem;
  color: #53ac33;
}
#login .title-wrapper .text {
  font-size: 0.55466667rem;
  margin-top: 0.384rem;
  color: #53ac33;
}
#login .form-wrapper label {
  display: block;
  position: relative;
}
#login .form-wrapper label .empty {
  display: none;
  position: absolute;
  width: 0.68266667rem;
  height: 0.68266667rem;
  right: 0.256rem;
  bottom: 0.256rem;
}
#login .form-wrapper input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #999999;
  font-size: 0.59733333rem;
  padding-bottom: 0.256rem;
  margin-top: 1.23733333rem;
}
#login .form-wrapper input:focus {
  outline-color: transparent;
}
#login .form-wrapper .forget {
  text-align: right;
  font-size: 0.59733333rem;
  margin-top: 0.42666667rem;
}
#login .form-wrapper .btn {
  display: block;
  width: 12.97066667rem;
  height: 1.87733333rem;
  border-radius: 0.17066667rem;
  border: none;
  margin: 1.23733333rem auto 0;
  font-size: 0.72533333rem;
  color: #fff;
  background-color: #53ac33;
}
